@model PagedList.IPagedList<Projekat3_NWT.Models.Sale>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>List of Sales</h2>

<table class="table">
    <tr>
        <th>
            Property
        </th>
        <th>
            Date Of Sale
            @Html.ActionLink(" ", "Index", new { sortOrder = "" }, new { @class = "glyphicon glyphicon-arrow-down" })
            @Html.ActionLink(" ", "Index", new { sortOrder = "date_asc" }, new { @class = "glyphicon glyphicon-arrow-up" })

        </th>
        <th>
            Price
            @Html.ActionLink(" ", "Index", new { sortOrder = "price_desc" }, new { @class = "glyphicon glyphicon-arrow-down" })
            @Html.ActionLink(" ", "Index", new { sortOrder = "price_asc" }, new { @class = "glyphicon glyphicon-arrow-up" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            For @Html.DisplayFor(modelItem => item.Property.AvailableFor), @Html.DisplayFor(modelItem => item.Property.NumberOfRooms) Room(s),
            @Html.DisplayFor(modelItem => item.Property.SquareMeters)m2, @Html.DisplayFor(modelItem => item.Property.Address.Street), @Html.DisplayFor(modelItem => item.Property.Address.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfSale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<br />
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))