@model Projekat3_NWT.Models.Message

@{
    ViewBag.Title = "Edit";
}

<h2>Answer Message</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                <p>@(Model.PhoneNumber)</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.Label("Message", htmlAttributes: new { @class = "control-label" })
                <p><i>@(Model.Content)</i></p>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Answered, htmlAttributes: new { @class = "control-label" })
                <span>

                        @Html.EditorFor(model => model.Answered)
                        @Html.ValidationMessageFor(model => model.Answered, "", new { @class = "text-danger" })

                </span>
            </div>
        </div>

        @Html.HiddenFor(model => model.UserFullName)
        @Html.HiddenFor(model => model.EMail)
        @Html.HiddenFor(model => model.Content)
        @Html.HiddenFor(model => model.PhoneNumber)

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label" })
                <textarea id="Answer" name="Answer" class="form-control" rows="5">Dear @(Model.UserFullName),
                &#13;&#10;&#13;&#10;&#13;&#10;Kind Regards, MVC Realty Team.</textarea>
                @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Answer" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
